aside {
    position: relative;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
}
span {
    margin-bottom: 42px;
}
.logo {
    margin-top: 24px;
    margin-bottom: 0;
}
.dashboard {
    margin-top: 63px;
}